body {
  margin: 0;
}

#alert {
  position: fixed;
  right: 0;
  top: 0;
}
#alert a {
  color: black;
}

#alert div {
  margin-bottom: 8px;
  margin-right: 8px;
  font-size: 1rem;
  border: 1px solid;
  font-family: roboto, helvetica, sans-serif;
  padding: 4px;
  background: yellow;
}

.dialog {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}

.dialog-content {
  height: 100%;
  max-width: 768px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.snapshot {
  height: 320px;
  background: green;
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
}
.snapshot-mask {
  flex: 1 1 auto;
  margin: 12%;
  border-radius: 8px;
  box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.7);
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.snapshot-video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.snapshot-preview {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.snapshot-preview[aria-hidden='true'] {
  display: none;
}

.dialog-actions {
  padding: 24px 12px 16px; /*24px 16x*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.dialog-actions-button {
  padding: 8px 16px;
  flex: 1;
  margin: 0 4px 8px;
  border: 0;
  border-radius: 4px;
  background: #ddd;
}

.dialog-actions-button.button-snap {
  background: blueviolet;
  color: #fff;
  white-space: nowrap;
}
